<h1>CoShared Buildings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Address</th>
    <th>Rent Per Floor</th>
    <th>Number of Floors</th>
    <th>Occupied Floors</th>
    <th>Available Floors</th>
  </tr>

  <% @buildings.each do |building| %>
    <tr>
      <td>
        <a href="/buildings/<%= building.id %>"><%= building.name %></a>
      </td>
      <td><%= building.country %></td>
      <td><%= building.address %></td>
      <td><%= building.rent_per_floor %></td>
      <td><%= building.number_of_floors %></td>
      <td><%= building.occupied_floors %></td>
      <td><%= building.available_floors %></td>
    </tr>
  <% end %>

</table>
