<h1><%= @single_building.name %>,
  <%= @single_building.country %></h1>
<h2>Located at:
  <%= @single_building.address %></h2>
<h3>Total Floors:
  <%= @single_building.number_of_floors %></h3>
<h3>Available Floors:
  <%= @single_building.available_floors.length %></h3>

<p>Total revenue: $<%= @single_building.revenue%></p>



<%= form_with scope: :office, url: '/create-office', local: true do |form| %>
  <p>Create office</p>
  <p>
    <%= form.label :floor %><br>
    <%= form.select :floor_number, @available_floors %>
  </p>
  <p>
    <%= form.label :company %><br>
    <%= form.select :company_id, @companies %>
  </p>
   <%= form.hidden_field :building_id, :value =>   @single_building.id%>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<table>
  <caption><h2>Offices:</h2><caption>
  <tr>
    <th>Floor #</th>
    <th>Company</th>
  </tr>

  <% @offices.each do |office| %>
    <tr>
      <td><%= office[:floor_number] %></td>
      <td> <%= office[:company_name] %> </td>
    </tr>
  <% end %>

</table>
