<h5>
  <a href="/buildings"><--- all buildings</a>
</h5>
  <h1><%= @single_building.name %>,
    <%= @single_building.country %></h1>
  <h2>Located at:
    <%= @single_building.address %></h2>
  <h3>Total Floors:
    <%= @single_building.number_of_floors %></h3>
  <h3>Available Floors:
    <%= @single_building.available_floors.length %></h3>

  <p>Total revenue: $<%= @single_building.revenue%></p>

  <%= form_with scope: :office, url: '/create-office', local: true, id: 'new-office-form' do |form| %>
  <h2>Create office</h2>
  <p>
    <%= form.label :floor %><br>
    <%= form.select :floor_number, @available_floors %>
  </p>
  <p>
    <%= form.label :company %><br>
    <%= form.select :company_id, @companies %>
  </p>
  <%= form.hidden_field :building_id, :value => @single_building.id%>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<table id='company-offices-table'>
  <caption>
    <h2>Offices:</h2>
    <caption>
      <tr>
        <th>Floor #</th>
        <th>Company</th>
      </tr>

      <% @offices.each do |office| %>
        <tr>
          <td><%= office[:floor_number] %></td>
          <td>
            <a href="/companies/<%= office[:company_id] %>"><%= office[:company_name] %></a>
          </td>
        </tr>
      <% end %>

    </table>
