<h1><%=@single_company.name%></h1>

<p><a href="/buildings">Choose a new office</a></p>

<table>
  <caption><h2>Offices:</h2><caption>
  <tr>
    <th>Building</th>
    <th>Floor #'s</th>
  </tr>

  <% @offices.each do |office| %>
    <tr>
      <td><a href="/buildings/<%= office[:building_id] %>"><%= office[:building_name] %></a></td>

      <td><%=p office[:floors]%></td>
    </tr>
  <% end %>

</table>

<p><a href="/employees/new">Source some new employees</a></p>

<table>
  <caption><h2>Employees:</h2><caption>
  <tr>
    <th>Name</th>
    <th>Title</th>
  </tr>

  <% @employees.each do |employee| %>
    <tr>
      <td><a href="/employees/<%= employee[:id] %>"><%= employee[:name] %></a></td>
      <td><%= employee[:title] %></a></td>
    </tr>
  <% end %>

</table>
